.chips {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-evenly;
}

.chip {
  width: 40%;
  margin: 10px;
  padding: 5px;
  border: black 2px solid;
  border-radius: 15px 0px 15px 0px;
}

.chip > .todoline {
  width: 100%;
}

.todo-todo {
  background-color: #FF9999;
}

.todo-done {
  background-color: #99FF99;
}

.chip > .headline {
  font-size: 18pt;
  font-weight: bold;
  align: center;
}

.chip > .deadline {
  font-size: 0.9em;
  font-weight: bold;
  font-style: italic;
  color: #993333;
}
.chip > .taskId {
  color: #999999;
  font-size: 7pt;
}

.chip > .fulltext > pre {
  white-space: pre-wrap;
}

.chip > .buttonPanel > button {
  margin: 5px;
  min-height: 25px;
  min-width: 25px;
}

.changebug {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #ff3333;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: #ff3333 2px solid;
}
